<p id="notice"><%= notice %></p>

<p>
  <strong>Entry date:</strong>
  <%= @candidate.entry_date %>
</p>

<p>
  <strong>First name:</strong>
  <%= @candidate.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @candidate.last_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @candidate.contact_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate.email %>
</p>

<p>
  <strong>Job:</strong>
  <%= @candidate.job %>
</p>

<p>
  <strong>Company:</strong>
  <%= @candidate.company %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @candidate.date_of_birth %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @candidate.qualification %>
</p>

<p>
  <strong>Experiance:</strong>
  <%= @candidate.experiance %>
</p>

<p>
  <strong>Current company:</strong>
  <%= @candidate.current_company %>
</p>

<p>
  <strong>Current designation:</strong>
  <%= @candidate.current_designation %>
</p>

<p>
  <strong>Current location:</strong>
  <%= @candidate.current_location %>
</p>

<p>
  <strong>Open for location:</strong>
  <%= @candidate.open_for_location %>
</p>

<p>
  <strong>Current ctc:</strong>
  <%= @candidate.current_ctc %>
</p>

<p>
  <strong>Expected ctc:</strong>
  <%= @candidate.expected_ctc %>
</p>

<p>
  <strong>Notice period:</strong>
  <%= @candidate.notice_period %>
</p>

<p>
  <strong>Reason for change:</strong>
  <%= @candidate.reason_for_change %>
</p>

<p>
  <strong>User:</strong>
  <%= @candidate.user %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
